.rdrMonthCell {
  box-sizing: inherit;
  width: 25%;
  height: 6.805em;
  box-shadow: none;
  -webkit-appearance: none;
  border: 0;
  background: none;
  position: relative;
  font: inherit;
  cursor: pointer;
  outline: 0 !important;
  .rdrDayNumber {
    font-size: 1.2em;
  }
}

.rdrDayNumber {
  display: block;
  position: relative;
  span {
    color: #1d2429;
  }
}

.rdrDayDisabled {
  cursor: not-allowed;
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  pointer-events: none;
}

.rdrInRange {
}

.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  pointer-events: none;
}

.rdrDayHovered {
}

.rdrDayActive {
}
